@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        Some info here... :)<br />
        <br />
        <abbr title="Phone">P:</abbr>
       
    </address>
</div>